/* ------ Normalizing the styles ------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    --accent: #70C0C4;
    --second-accent: #B83EAC;
    --section-gray: #EFEFEF;
    --corp-work-height: 730px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.noscroll {
    overflow: hidden;
}

a {
    color: #000;
}

h1 {
    font-size: 36px;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

button {
    height: 40px;
    padding: 0px 20px;
    color: #fff;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    transition: .3s all ease-out;
    cursor: pointer;
}

button.filled {
    background: linear-gradient(166deg, var(--accent), var(--second-accent) 115%);
    border: none;
}

button.border {
    background: none;
    color: #000;
    border: 1px solid var(--accent);
    transition: .2s all ease;
}

button.border:hover {
    background: var(--accent);
    color: #fff;
}

/* ------ Responsive sidebar button ------ */

.menu-button {
    position: fixed;
    right: 50px;
    top: 26px;
    height: 21px;
    cursor: pointer;
    display: none;
    z-index: 9999;
}

.menu-button .open {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
    transition: .3s all ease;
}

.menu-button .open.hide {
    opacity: 0;
    z-index: 10;
}

.menu-button .close {
    height: inherit;
    width: 30px;
    position: absolute;
    top: -3px;
    z-index: 10;
    transition: .3s all ease;
    opacity: 0;
}

.menu-button .close.show {
    opacity: 1;
    z-index: 20;
}

.menu-button .close .btn-bar.first {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
    background-color: #353535;
}

.menu-button .close .btn-bar.second {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
    background-color: #353535;
}

.btn-bar {
    width: 30px;
    height: 5px;
    border-radius: 20px;
    background-color: #353535;
}

/* ------ Responsive sidebar ------ */

.sidebar {
    position: fixed;
    top: 0;
    left: -120%;
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    padding: 28px;
    transition: left .2s ease-in-out;
}

.sidebar.active {
    left: 0;
}

.sidebar .menu-button {
    display: none;
    right: 44px;
}

.sidebar .top {
    width: 100%;
}

.sidebar .top .logo {
    display: flex;
    justify-content: center;
}

.sidebar .top .menu {
    width: 100%;
    height: 490px;
    max-height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

.sidebar .top .menu li {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    padding: 14px;
    border-radius: 7px;
    transition: .2s all ease-in;
}

.sidebar .top .menu li:hover {
    background: var(--accent);
    color: #fff;
}

.sidebar .top .menu li:hover img {
    right: 14px;
    opacity: 1;
}

.sidebar .top .menu li img {
    position: absolute;
    right: 64px;
    opacity: 0;
    transition: .3s all ease-in-out;
}

.sidebar .top .menu::-webkit-scrollbar {
    width: 4px;
}

.sidebar .top .menu::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 20px;
}

.sidebar .top .menu::-webkit-scrollbar-corner {
    visibility: hidden;
}

.sidebar .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar .bottom .tender-invite {
    width: unset;
    margin-top: 10px;
}

.sidebar .bottom .account {
    width: unset;
}

.sidebar .bottom .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 28px;
}

/* ------ Repeatable elements ------ */

section {
    padding: 50px 0;
}

section.dark {
    background: var(--section-gray);
}

section h2 {
    text-align: center;
}

section .subtitle {
    max-width: 550px;
    color: #9C9C9C;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}

section .wrapper {
    margin-top: 45px;
}

.left-block {
    width: 50%;
}

.right-block {
    width: 50%;
}

.wrapper {
    max-width: 1300px;
    padding: 0 50px;
    margin: auto;
}

.logo img {
    width: 200px;
}

.phone-number {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    margin-top: 2px;
}

.phone-number img {
    width: 18px;
    margin-right: 5px;
}

.contact-form {
    max-width: 474px;
}

.contact-form label {
    color: #6E6E6E;
    display: block;
    margin-bottom: 18px;
    font-size: 16px;
}

.contact-form input:required:focus:valid {
    border: 1px solid #67f372;
    box-shadow: unset;
}

.contact-form input:required:focus:invalid {
    border: 1px solid #ff0000;
    box-shadow: unset;
}

.contact-form .input-box {
    margin-bottom: 30px;
}

.contact-form .default-input {
    width: 100%;
    height: 51px;
    border: 1px solid #fff;
    border-radius: 7px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    outline: none;
    padding: 10px;
    transition: all .2s ease;
}

.contact-form .large-input {
    width: 100%;
    height: 128px;
    border: 1px solid #fff;
    border-radius: 7px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    resize: none;
    outline: none;
    padding: 10px;
    transition: all .2s ease;
}

.contact-form .large-input:focus {
    border: 1px solid #006eff;
    box-shadow: unset;
}

.contact-form .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.contact-form .bottom button {
    width: 195px;
}

/* ------ Modal dialog window ------ */

.modal-dialog {
    position: fixed;
    top: -190%;
    left: 50%;
    transform: translateX(-50%);
    width: 490px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.05);
    padding: 33px;
    z-index: 99999;
    transition: .5s top ease-in-out;
}

.modal-dialog.active {
    top: 150px;
}

.modal-dialog h2 {
    font-weight: 400;
    margin-bottom: 22px;
}

.modal-dialog div.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    cursor: pointer;
}

.modal-dialog .close img {
    width: inherit;
}

.modal-dialog .contact-form .pseudo-input {
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 7px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    outline: none;
    padding: 10px;
    transition: all .2s ease;
}

.modal-dialog .contact-form .bottom {
    margin-top: 50px;
}

.modal-dialog .contact-form button {
    height: 45px;
}

/* ------ HEADER ------ */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.header .top-hat {
    background: #fff;
}

.header .top-hat .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    padding: 10px 50px;
}

.header .top-hat .wrapper .right-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .tender-invite {
    width: 175px;
    margin-left: 50px;
}

.header .account {
    width: 150px;
}

.header .nav {
    background: var(--accent);
    font-weight: 600;
    font-size: 16px;
}

.header .nav ul {
    list-style: none;
}

.header .nav ul li {
    display: inline-block;
    /* margin-right: 40px; */
    padding: 20px 15px;
    cursor: pointer;
}

.header .nav ul li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.header .nav ul li a {
    color: #fff;
}

/* ------ BANNER / SLIDER ------ */

.banner {
    position: relative;
    width: 100%;
    height: 460px;
    overflow: hidden;
}

.banner .slider {
    position: relative;
    display: flex;
    height: inherit;
}

.banner .slider .slide {
    position: absolute;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .3s ease-in all;
}

.banner .slider .slide.active {
    opacity: 1;
}

.banner .slider .slide img {
    width: 100%;
}

.banner .tint {
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    background: rgba(0,0,0, .4);
}

.banner .wrapper {
    margin-top: -380px;
}

.banner .wrapper .content .slide {
    max-width: 560px;
    display: block;
}

.banner .wrapper .content .slide h1 {
    color: #fff;
    margin-bottom: 35px;
}

/* ------ About company section ------ */

.about-company .wrapper {
    display: flex;
}

.about-company .wrapper .left-block {
    display: flex;
    align-items: center;
}


.about-company .wrapper .left-block .img-box {
    width: 550px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    border-radius: 8px;
}

.about-company .wrapper .right-block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.img-box img {
    width: inherit;
}

.about-company p {
    max-width: 500px;
    display: block;
    line-height: 26px;
}

.about-company button {
    width: 195px;
    margin-top: 40px;
}

/* ------ Merchandizing section ------ */

.merchandizing {
    overflow: hidden;
}

.merchandizing .wrapper {
    display: flex;
}

.merchandizing .wrapper .left-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.merchandizing .wrapper .right-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.merchandizing .wrapper .left-block .title {
    display: flex;
    align-items: center;
}

.merchandizing .wrapper .left-block .icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.merchandizing .wrapper .left-block .icon img {
    width: inherit;
}

.merchandizing p {
    max-width: 450px;
    font-weight: 300;
    font-size: 16px;
    margin-left: 65px;
    margin-top: 17px;
}

.merchandizing .services .service {
    margin-bottom: 85px;
}

.bg-squares {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.square {
    width: 350px;
    height: 350px;
    border: 4px solid var(--accent);
    border-radius: 25px;
    transform: rotate(45deg);
}

.square.green {
    position: relative;
    left: 115px;
}

.square.purple {
    position: relative;
    top: -120px;
    border: 4px solid var(--second-accent);
}

.merchandizing .images {
    position: relative;
    width: 400px;
    max-width: 400px;
}

.merchandizing .images .image {
    width: 290px;
    height: 160px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 55px;
}

.merchandizing .images .image.even {
    margin-left: auto;
}

.merchandizing .images .image img {
    width: inherit;
}

.merchandizing button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 195px;
    margin-top: 50px;
}

/* ------ Corporate work section ------ */

.corporate-work {
    position: relative;
    padding: 0;
}

.corporate-work .banner {
    position: absolute;
    height: var(--corp-work-height);
}

.corporate-work .wrapper {
    position: relative;
    margin-top: unset;
    padding-top: 100px;
}

.corporate-work .wrapper p {
    max-width: 475px;
    font-size: 32px;
    font-weight: 200;
    line-height: 35px;
    color: #fff;
}

.corporate-work .wrapper h1 {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
}

.corporate-work .wrapper h1 span {
    color: var(--accent);
}

.corporate-work .wrapper .advantages {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

.corporate-work .wrapper .advantages .card {
    width: 355px;
    height: 425px;
    background: var(--accent);
    border-radius: 22px;
    padding: 24px 32px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05);
}

.corporate-work .wrapper .advantages .card.dark {
    background: #6E6E6E;
}

.corporate-work .wrapper .advantages .card h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    line-height: 35px;
}

.corporate-work .wrapper .advantages .card .line {
    width: 175px;
    height: 5px;
    background: #fff;
    border-radius: 10px;
    margin: 25px 0;
}

.corporate-work .wrapper .advantages .card p {
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #fff;
}

/* ------ About app section ------ */

.about-app .wrapper {
    display: flex;
    margin-top: unset;
}

.about-app .left-block .title {
    width: 490px;
    font-size: 28px;
    line-height: 42px;
}

.about-app .left-block .title span {
    color: var(--accent);
}

.about-app .left-block .advantages {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 550px;
}

.about-app .left-block .advantages .advantage {
    width: 250px;
    height: 225px;
    background: #fff;
    border-radius: 22px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
    padding: 25px 36px;
    margin-top: 45px;
}

.about-app .left-block .advantages .advantage .icon {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    contain: content;
}

.about-app .left-block .advantages .advantage .icon img {
    width: inherit;
}

.about-app .left-block .advantages .advantage h4 {
    margin-top: 28px;
    margin-bottom: 10px;
}

.about-app .left-block .advantages .advantage p {
    font-weight: 300;
    width: 175px;
    line-height: 17px;
}

.about-app .right-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-app .right-block .mockup {
    position: relative;
}

.about-app .right-block .mockup .screen-wrapper {
    width: 284px;
    height: 613px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-app .right-block .mockup .screen-wrapper img {
    height: inherit;
}

.about-app .right-block .mockup .iphone-mockup {
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
    width: 325px;
}

.about-app .right-block .mockup .iphone-mockup img {
    width: inherit;
}

/* ------ Site services section ------ */

section.site-service {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(img/carlos-muza-hpjSkU2UYSU-unsplash-fhd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.site-service .wrapper {
    position: relative;
    margin-top: unset;
}

.site-service .right-block::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--section-gray);
    transform: skew(8deg) translateX(-10%);
}

.site-service .right-block .block-content {
    position: relative;
    padding: 50px 0;
    padding-right: 75px;
}

.site-service h2 {
    text-align: left;
    margin-bottom: .75em;
}

.site-service .desc {
    margin-bottom: 2em;
}

.site-service h3 {
    font-size: 1.25rem;
    margin-bottom: 1.275em;
}

.site-service .services {
    max-width: 820px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .875rem;
}

.site-service .service {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.site-service .service h4 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: .25em;
}

.site-service .service p {
    max-width: 250px;
    font-weight: 300;
}

.site-service .icon img {
    width: 48px;
    color: var(--accent);
}

/* ------ Contact Us section ------ */

.contact-us .wrapper {
    display: flex;
    margin-top: unset;
}

.contact-us .wrapper.title {
    display: block;
}

.contact-us h2 {
    text-align: left;
}

.contact-us h2.subtitle {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 45px;
}

.contact-us .wrapper .right-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us .wrapper .right-block .google-maps {
    width: 580px;
    height: 330px;
    border: 1px solid #d1d1d1;
    border-radius: 13px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us .wrapper .right-block .google-maps img {
    width: inherit;
}

/* ------ Career section ------ */

.career {
    overflow: hidden;
}

.career .wrapper .group h1 {
    width: 200%;
    font-size: 121px;
    font-weight: 600;
    color: rgba(112, 192, 196, .27);
}

.career .wrapper .group p {
    font-size: 22px;
    font-weight: 300;
    line-height: 41px;
    margin-left: 60px;
}

.career .wrapper .group.first {
    margin-bottom: 40px;
}

.career .wrapper .group.first p {
    margin-top: -65px;
}

.career .wrapper .group.second p {
    margin-top: -50px;
}

.career .wrapper button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
}

/* ------ Partners section ------ */

.partners .wrapper .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners .wrapper .swiper .swiper-slide .slide-content {
    width: 140px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners .wrapper .swiper .swiper-slide .slide-content img {
    width: 130px;
}

.swiper-button-prev {
    color: #8F8F8F;
    font-weight: 900;
}

.swiper-button-next {
    color: #8F8F8F;
    font-weight: 900;
}

/* ------ Footer section ------ */

.footer {
    background: #5B5B5B;
}

.footer .wrapper .logo {
    padding-top: 35px;
    margin-bottom: 35px;
}

.footer .wrapper .contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer .wrapper .contacts h3 {
    font-weight: 900;
    color: var(--accent);
    font-size: 20px;
    margin-bottom: 22px;
}

.footer .wrapper .contacts span {
    font-weight: 300;
    color: #CBCBCB;
    font-size: 16px;
}

hr {
    border-color: #CFCECE;
}

.footer .wrapper .initials {
    font-weight: 300;
    color: #CBCBCB;
    font-size: 16px;
    margin-top: 40px;
    padding-bottom: 50px;
}

.footer .wrapper .initials span {
    color: var(--accent);
}

@media(max-width: 1250px) {
    .career .wrapper .group h1 {
        font-size: 81px;
    }

    .career .wrapper .group p {
        font-size: 20px;
        line-height: 35px;
        margin-left: 43px;
    }

    .career .wrapper .group.first p {
        margin-top: -49px;
    }

    .career .wrapper .group.second p {
        margin-top: -37px;
    }
}

@media(max-width: 1200px) {
    .about-company .wrapper .left-block .img-box {
        width: 460px;
        height: 290px;
    }

    .corporate-work .wrapper {
        padding-top: 70px;
    }

    .corporate-work .banner {
        height: 640px;
    }

    .corporate-work .wrapper .advantages {
        margin-top: 80px;
    }

    .corporate-work .wrapper .advantages .card {
        width: 285px;
        height: 385px;
    }

    .corporate-work .wrapper .advantages .card h2 {
        font-size: 20px;
    }

    .corporate-work .wrapper .advantages .card .line {
        margin: 15px 0;
    }

    .corporate-work .wrapper .advantages .card p {
        font-size: 14px;
    }
}

@media(max-width: 1130px) {
    .menu-button {
        display: block;
    }

    .header .top-hat .wrapper .right-block {
        width: unset;
        margin-right: 100px;
    }

    .header .top-hat .wrapper .right-block .buttons {
        display: none;
    }

    .header .nav {
        display: none;
    }

    main {
        padding-top: 72px;
    }

    .about-company .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-company .wrapper .left-block {
        width: 100%;
        justify-content: center;
    }

    .about-company .wrapper .left-block .img-box {
        width: 680px;
        height: 377px;
    }

    .about-company .wrapper .right-block {
        width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }

    .about-company p {
        max-width: 780px;
    }

    .about-app .right-block {
        justify-content: flex-end;
    }

    .about-app .right-block .mockup {
        margin-right: 25px;
    }

    .contact-us .wrapper {
        flex-direction: column;
    }

    .contact-us .wrapper .left-block {
        width: 100%;
    }

    .contact-us .wrapper .left-block .contact-form {
        max-width: 574px;
    }

    .contact-us .wrapper .right-block {
        width: 100%;
        margin-top: 75px;
    }
}

@media(max-width: 1030px) {
    .about-app .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .about-app .left-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-app .left-block .advantages {
        width: 100%;
    }

    .about-app .right-block {
        width: 100%;
        justify-content: center;
        margin-top: 100px;
    }

    .about-app .left-block .title {
        text-align: center;
    }

    .about-app .right-block .mockup {
        margin-right: 0;
    }
}

@media(max-width: 970px) {
    .corporate-work .banner {
        display: none;
    }

    .corporate-work .wrapper p {
        color: #000;
    }

    .corporate-work .wrapper h1 {
        color: #000;
    }

    .corporate-work .wrapper .advantages {
        padding: 0 80px;
        flex-direction: column;
    }

    .corporate-work .wrapper .advantages .card {
        width: 100%;
        height: unset;
        margin-bottom: 50px;
    }
    
    .corporate-work .wrapper .advantages .card h2 {
        display: inline-block;
    }
}

@media(max-width: 940px) {
    .banner {
        height: 360px;
    }

    .banner .wrapper {
        margin-top: -310px;
    }

    .banner .wrapper .content .slide {
        max-width: 360px;
    }

    .banner .wrapper .content .slide h1 {
        font-size: 27px;
    }

    .merchandizing .wrapper .left-block {
        width: 100%;
    }

    .merchandizing .wrapper .right-block {
        width: unset;
    }

    .merchandizing .wrapper .right-block .images {
        display: none;
    }

    .about-app .left-block .advantages {
        width: 550px;
    }

    .career .wrapper .group h1 {
        font-size: 42px;
        color: var(--accent);
    }

    .career .wrapper .group p {
        font-size: 18px;
        line-height: 32px;
        margin-left: 26px;
    }

    .career .wrapper .group.first p {
        margin-top: unset;
    }

    .career .wrapper .group.second p {
        margin-top: unset;
    }
}

@media(max-width: 860px) {
    .footer .wrapper .contacts {
        height: 250px;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media(max-width: 840px) {
    .merchandizing .wrapper .right-block {
        display: none;
    }
}

@media(max-width: 700px) {
    .about-company .wrapper .left-block .img-box {
        width: 132%;
        height: 335px;
    }

    .career .wrapper .group h1 {
        font-size: 36px;
    }

    .career .wrapper .group p {
        font-size: 14px;
        line-height: 26px;
        margin-left: unset;
    }

    .career .wrapper .group.first {
        margin-bottom: 30px;
    }
}

@media(max-width: 680px) {
    .header .top-hat .wrapper .right-block {
        width: unset;
        margin-right: 60px;
    }

    .header .top-hat .wrapper .right-block {
        display: none;
    }

    .site-service .services {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media(max-width: 620px) {
    .about-app .left-block .advantages {
        width: 50%;
        justify-content: space-around;
    }

}

@media(max-width: 600px) {
    .wrapper {
        padding: 0 25px;
    }

    .header-content {
        padding: 10px 25px;
    }

    .menu-button {
        right: 25px;
    }

    .banner .slider .slide img {
        width: 150%;
    }

    .about-app .left-block .title {
        width: unset;
        font-size: 24px;
    }

    .corporate-work .wrapper .advantages {
        padding: 0;
    }
}

@media(max-width: 500px) {
    .header .top-hat .wrapper .logo img {
        width: 150px;
    }

    .menu-button {
        top: 20px;
    }

    main {
        padding-top: 60px;
    }

    .about-company .wrapper .left-block .img-box {
        height: 255px;
    }

    .merchandizing .services .service {
        margin-bottom: 40px;
    }

    .merchandizing p {
        font-size: 14px;
    }

    .career .wrapper .group h1 {
        font-size: 24px;
    }

    .modal-dialog {
        width: 100%;
        height: 100vh;
        border-radius: unset;
        padding: 15px;
    }

    .modal-dialog.active {
        top: 0;
    }

    .modal-dialog h2 {
        font-size: 24px;
        margin-bottom: 22px;
    }

    .modal-dialog .contact-form label {
        margin-bottom: 15px;
    }

    .modal-dialog .contact-form .input-box {
        margin-bottom: 15px;
    }

    .modal-dialog .contact-form .default-input {
        height: 47px;
    }

    .modal-dialog .contact-form .bottom {
        margin-top: 35px;
    }

    .modal-dialog .contact-form .bottom button {
        width: 140px;
    }
}

@media(max-width: 420px) {
    section .subtitle {
        font-size: 15px;
    }

    .menu-button .close {
        display: none;
    }

    .sidebar {
        width: 100%;
    }

    .sidebar .menu-button {
        display: block;
    }

    .sidebar .menu-button .close {
        display: block;
    }

    .banner {
        height: 300px;
    }

    .banner .wrapper {
        margin-top: -252px;
    }

    .banner .wrapper .content .slide h1 {
        font-size: 22px;
    }

    .banner .slider .slide img {
        width: 220%;
    }

    .about-app .right-block {
        margin-top: 60px;
    }

    .about-app .right-block .mockup {
        transform: scale(0.8);
    }

    .contact-us .wrapper .left-block .contact-form .bottom {
        flex-direction: column;
    }

    .contact-us .wrapper .left-block .contact-form .bottom button {
        width: 100%;
    }

    .contact-us .wrapper .left-block .contact-form .bottom .phone-number {
        margin-top: 15px;
    }

    .contact-us .wrapper .right-block {
        margin-top: 45px;
    }

    .contact-us .wrapper .right-block .google-maps {
        height: 230px;
    }

    .corporate-work .wrapper {
        padding-top: 40px;
    }

    .corporate-work .wrapper p {
        font-size: 24px;
    }

    .corporate-work .wrapper h1 {
        font-size: 24px;
    }
}

@media(max-width: 330px) {
    .banner .wrapper {
        margin-top: -266px;
    }

    .career .wrapper .group h1 {
        font-size: 22px;
    }
}

@media(max-width: 350px) {
    .wrapper {
        padding: 0 15px;
    }

    .header-content {
        padding: 10px 15px;
    }

    .menu-button {
        right: 15px;
    }

    .sidebar {
        padding: 14px 25px;
    }
}

@media(max-height: 815px) {
    .sidebar .top .menu {
        overflow: scroll;
        height: 450px;
        margin-top: 20px;
    }

    .sidebar .top .menu li {
        width: 96%;
    }
}

@media(max-height: 770px) and (min-width: 500px)  {
    .modal-dialog.active {
        top: 30px;
    }
}

@media(max-height: 735px) {
    .sidebar .top .menu {
        height: 360px;
    }

    .sidebar .top .menu li {
        margin-bottom: 5px;
    }
}


@media(max-height: 700px) and (min-width: 500px) {
    .modal-dialog.active {
        top: 0;
    }
}

@media(max-height: 650px) {
    .sidebar .top .menu {
        height: 290px;
    }
}